@import "bootstrap/scss/bootstrap";
#app{
  background-color: darkgrey;
}
#contenedorJuego{
  width: 100vh;
  height: 100vh;
  place-content: center;
  margin: auto;
}

#contenedorTablero{
  width: 576px;
  display: grid;
  grid-template-columns: repeat(9,1fr);
  grid-template-rows: repeat(9,1fr);
  margin: auto;
}


.celda {
  text-align: center;
  font-size: 2.5vh;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.celda.aire {
  background-image: url('img/suelo.png');
}

.celda.jugador {
  background-image: url('img/Bomberman_WR.webp'), url('img/suelo.png');;
}

.celda.pilar {
  background-image: url('img/pilar.webp');
}

.celda.muro {
  background-image: url('img/pilar.webp');
}

.celda.bomba {
  background-image: url('img/Bomba.gif'), url('img/suelo.png');
}

.celda.explosion {
  background-image: url('img/Explosion.gif'),url('img/suelo.png');
}

.celda.jugadorBomba {
  background-image: url('img/Bomberman_WR.webp'), url('img/Bomba.gif'), url('img/suelo.png');
}