@import "bootstrap/scss/bootstrap";
body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto; /* header - main - footer */
  min-height: 100vh;
}
      
#header {
  grid-row: 1;
}

#app{
  grid-row: 2;
  background-color: darkgray;
}

#footer {
  grid-row: 3;
}

#contenedorJuego{
  width: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#contenedorTablero{
  width: 576px;
  display: grid;
  grid-template-columns: repeat(9,1fr);
  grid-template-rows: repeat(9,1fr);
  margin: auto;
}

#hud {
  width: 576px;
  height: auto;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: white;
  font-size: 28px;
  background-image: url('img/suelo.png');
  border-radius: 10px;
  margin-bottom: 20px;
}

.celda {
  text-align: center;
  font-size: 2.5vh;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.celda.aire {
  background-image: url('img/suelo.png');
}

.celda.jugador {
  background-image: url('img/Bomberman_WR.webp'), url('img/suelo.png');;
}

.celda.pilar {
  background-image: url('img/pilar.webp');
}

.celda.muro {
  background-image: url('img/muro.png');
}

.celda.bomba {
  background-image: url('img/Bomba.gif'), url('img/suelo.png');
}

.celda.explosion {
  background-image: url('img/Explosion.gif'),url('img/suelo.png');
}

.celda.jugadorBomba {
  background-image: url('img/Bomberman_WR.webp'), url('img/Bomba.gif'), url('img/suelo.png');
}

.celda.moneda {
  background-image: url('img/moneda.webp'), url('img/suelo.png');;
}